div.myform label {
    display: block;
    width: 10vw;
    min-width: 5cm;
    float: left;
    
    
}

div.myform input {
    display: block;
}

div.myform input[name^="email"] {
    background-color: blanchedalmond;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    padding: .3em;
    text-align: center;
    font-family: Verdana;
}

div.myform input[name="imie"] {
    background-color: green;
}

div.myform input[name="nazw"] {
    background-color: fuchsia;
}

div.myform input[name="button"] {
    border-bottom-color: red;
    border-radius: 10px;
}

div.form label {
    display: block;
    float: left;
    width: 7vw;
    border: 1px solid;
}

div.form input {
    display: block;
}

div.form input[name="data"] {
    border: 1px solid;
    width: auto;
}

a[href^="http://"], a[href^="https://"] {
    background-color: red;
}

a[href^="mailto:"] {
    background-color: hotpink;
}

a[href^="mailto:"]:before {
    content: "poczta: ";
}

a[href*="pudelek"] {
    visibility: hidden;
}



